
.upper-container-boarder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background-image: 
        radial-gradient(rgba(0, 0, 0, 0.815) 0.8px, transparent 0),
        radial-gradient(rgba(0, 0, 0, 0.815) 0.8px, transparent 0);
    
    background-size: 5px 5px;
    background-position: 0 0, 2.5px 2.5px;

    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.upper-container-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-left: 65px;
    padding-right: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.left-part-items, .right-part-items {
    display: flex;
    gap: 20px
}

.profile {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    background: linear-gradient(rgb(85, 85, 85), rgb(0, 0, 0));
    border: solid 2px black;
    border-radius: 60px;
    padding: 3px 10px;
    padding-right: 20px;
    gap: 15px;
}

.profile-avatar img {
    width: 50px;
    height: auto;
    display: block;
}

.profile-avatar {
    display: flex;
    overflow: hidden;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2px;
    text-align: left;
}

.profile-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.07;
    margin-left: auto;
}

.profile-name {
    color: white;
    font-size: 19px;
    -webkit-text-stroke: 0.1px black;
}

.level-bar-container {
    width: 170px;
    height: 13px;
}

.level-bar-fill {
    width: 100%;
    height: 100%;
    background: #00a2ff;

    display: flex;
    align-items: center;
    
    padding-left: 10px;
    border-radius: 60px;
}

.level-bar-fill p {
    color: white;
    line-height: 1;
    font-size: 13px;
}

.level-number {
    color: white;
    font-size: 1.57rem;
}

.level-label {
    font-size: 9px;
}

.battery-div, .dennies-div, .polychrome-div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    
    
    background: rgba(0, 0, 0, 1);
    padding: 12px 0;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 60px;

    outline: solid 5px #323232;
    
}

.battery-div p, .dennies-div p, .polychrome-div p {
    position: relative;
    margin-right: 15px;
    font-size: 22px;
}

.battery-div p {
    color: white;
}

.battery-div img, .dennies-div img, .polychrome-div img {
    position: absolute;
    width: 62px;
    height: auto;
    filter: 
        drop-shadow(2px 0 0 rgb(0, 0, 0)) 
        drop-shadow(-2px 0 0 rgb(0, 0, 0)) 
        drop-shadow(0 2px 0 rgb(0, 0, 0)) 
        drop-shadow(0 -2px 0 rgb(0, 0, 0));

    margin-left: 105px;
    z-index: 2;
}

.dennies-div img {
    margin-left: 114px;
}

.polychrome-div img {
    margin-left: 115px;
}
